body {
  color: $black-text;
  font-family: DM Sans;
  margin: 0;
}
.js-body-menu.is-open {
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
