$accent-color: #d41443;
$menu-background: #e17992;
$background: #fff5f6;
$hero-background: #ffb8ca;
$lable-color: #ffa5ba;
$white-text: #ffffff;
$black-text: #000000;
$primary-text-color: #907e82;
$coffee-section: #f0d1a5;
$milkshake-section: #c2e297;
$logo-color: #fea5bb;
$nav-color: #ffffff;
$shadow-color: 0px 8px 30px rgba(212, 20, 67, 0.1);
$drop-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
$Customer-background: #fafafa;
$hover-btn-bg: #ecebeb;
$modal-bg: #ffb8ca;

@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
