<section class="customer-reviews" id="about">
  <div class="container">

    <h2 class="visually-hidden">Customer reviews</h2>

    <ul class="slider customer-reviews__slider">
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews1-1x.png 1x, /images/reviews1-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews1-1x.png"  alt="reviewer's photo"/>
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="review__title">Emily, Los Angeles</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews2-1x.png 1x, /images/reviews2-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews2-1x.png" alt="reviewer's photo"/>
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="review__title">Emily, Los Angeles</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews3-1x.png 1x, /images/reviews3-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews3-1x.png" alt="reviewer's photo" />
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="review__title">Emily, Los Angeles</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews4-1x.png 1x, /images/reviews4-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews4-1x.png" alt="reviewer's photo" />
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            Customer reviews section developer. Working on a project in a team is a great experience. Not everything was easy, but we
            did it. I love GitHub ;)
          </p>
        </div>
        <p class="review__title">Olha, Kyiv</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews5-1x.png 1x, /images/reviews5-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews5-1x.png" alt="reviewer's photo"/>
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            My main task on this site was to create a "Contacts" section. Additionally, I
            implemented a flip on the cards in the "Products" section. It took a long time, but I
            did it :) And finally I want to thank the team. It was really inspiring to work with all
            of you!
          </p>
        </div>
        <p class="review__title">Yana, Lviv</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews6-1x.png 1x, /images/reviews6-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews6-1x.png" alt="reviewer's photo"/>
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            I dealt with modal windows and their connection using js, and also wrote a script to
            hide the menu when clicking on the anchor link. This is my first team work experience
            and I really like this. Thanks to the team.
          </p>
        </div>
        <p class="review__title">Serhii, Uzhgorod</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews7-1x.png 1x, /images/reviews7-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews7-1x.png" alt="reviewer's photo" />
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            I loved working in a team, the guys are very responsive and friendly!  I liked the layout of the website, it's bright and attractive. All in all, it was a very interesting experience :)
          </p>
        </div>
        <p class="review__title">Alexandra, Kyiv</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews8-1x.png 1x, /images/reviews8-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews8-1x.png" alt="reviewer's photo" />
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            Gallery section developer( supported with additional tasks).It was a great opportunity to work as a team, learn something new and practice your skills. ASAP the best.
          </p>
        </div>
        <p class="review__title">Vladimir, Kyiv</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews9-1x.png 1x, /images/reviews9-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews9-1x.png" alt="reviewer's photo"/>
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            Developer of the "About" section. Good teamwork experience. Mastering skills in working with GitHub, HTML, CSS. Special thanks to the team.
          </p>
        </div>
        <p class="review__title">Yaroslav, Kyiv</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews10-1x.png 1x, /images/reviews10-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews10-1x.png" alt="reviewer's photo" />
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            I worked as a scrummaster and made the "products" section in the team . I liked the team work. everyone was active, pushing and responsible.
          </p>
        </div>
        <p class="review__title">Inna, Kyiv</p>
      </li>
      <li class="slider__item">
        <picture>
          <source srcset="/images/reviews11-1x.png 1x, /images/reviews11-2x.png 2x" />
          <img class="reviews__images" src="/images/reviews11-1x.png" alt="reviewer's photo" />
        </picture>
        <div class="review__wrap">
          <p class="review__text">
            In this project, I was a Team lead.To be honest, at the beginning of the project it was very scary, but over time everything became much easier, thanks to my team for this. It was nice to do code review, because the guys write good and clean code. They put a lot of time and effort into this project, so a big thank you to my team and thank you for relying on me.
          </p>
        </div>
        <p class="review__title">Ilya, Kyiv</p>
      </li>
    </ul>
  </div>
</section>
