<section class="customer-reviews">
  <div class="slider customer-reviews__slider">
    <div class="slider__item">
      <img src="../images/reviews1-1x.png" alt="customers foto" />
      <div class="review__wrap">
        <p class="review__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="review__title">Emily, Los Angeles</p>
    </div>
    <div class="slider__item">
      <img src="../images/reviews2-1x.png" alt="customers foto" />
      <div class="review__wrap">
        <p class="review__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="review__title">Emily, Los Angeles</p>
    </div>
    <div class="slider__item">
      <img src="../images/reviews3-1x.png" alt="customers foto" />
      <div class="review__wrap">
        <p class="review__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="review__title">Emily, Los Angeles</p>
    </div>
  </div>
</section>
