<section class="customer-reviews" id="about">
    <div class="container">
        <ul class="slider customer-reviews__slider">
            <li class="slider__item">
                <picture>
                    <source srcset="/images/reviews1-1x.png 1x, /images/reviews1-2x.png 2x">
                    <img class="reviews__images" src="/images/reviews1-1x.png">
                </picture>
                <div class="review__wrap">
                    <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="review__title">Emily, Los Angeles</p>
            </li>
            <li class="slider__item">
                <picture>
                    <source srcset="/images/reviews2-1x.png 1x, 
                    /images/reviews2-2x.png 2x">
                    <img class="reviews__images" src="/images/reviews2-1x.png">
                </picture>
                <div class="review__wrap">
                    <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="review__title">Emily, Los Angeles</p>
            </li>
            <li class="slider__item">
                <picture>
                    <source srcset="/images/reviews3-1x.png 1x, 
                    /images/reviews3-2x.png 2x">
                    <img class="reviews__images" src="/images/reviews3-1x.png">
                </picture>
                <div class="review__wrap">
                    <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="review__title">Emily, Los Angeles</p>
            </li>
            <li class="slider__item">
                <picture>
                    <source srcset="/images/reviews4-1x.png 1x, 
                    /images/reviews4-2x.png 2x">
                    <img class="reviews__images" src="/images/reviews4-1x.png">
                </picture>
                <div class="review__wrap">
                    <p class="review__text">Working on a project in a team is a great experience. Not everything was easy, but we did it. I love GitHub ;)</p>
                </div>
                <p class="review__title">Olha, Kyiv</p>
            </li>
        </ul>
    </div>
</section>

