<section class="section-gallery">
    <div class="container, gallery-container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__wraper">

            <div class="gallery__item">
                <picture>
                    <source srcset="/images/gallery-items/gallery-first-image-des-1x.png 1x, /images/gallery-items/gallery-first-image-des-2x.png 2x " media="(min-width:1200px)">


                    <source srcset="/images/gallery-items/gallery-first-image-tab-1x.png 1x, /images/gallery-items/gallery-first-image-tab-2x.png 2x " media="(min-width:768px)">


                    <source srcset="/images/gallery-items/gallery-first-image-mob-1x.png 1x, /images/gallery-items/gallery-first-image-mob-2x.png 2x " media="(min-width:320px)">

                    <img src="/images/gallery-items/gallery-first-image-mob-1x.png" alt="ice cream delicious">
                </picture>
            </div>

            <div class="gallery__item">
                <div class="upper-image">
                    <picture>
                        <source srcset="/images/gallery-items/gallery-second-image-des-1x.png 1x, /images/gallery-items/gallery-second-image-des-2x.png 2x " media="(min-width:1200px)">


                        <source srcset="/images/gallery-items/gallery-second-image-tab-1x.png 1x, /images/gallery-items/gallery-second-image-tab-2x.png 2x " media="(min-width:768px)">


                        <source srcset="/images/gallery-items/gallery-second-image-mob-1x.png 1x, /images/gallery-items/gallery-second-image-mob-2x.png 2x " media="(min-width:320px)">

                        <img src="/images/gallery-items/gallery-second-image-mob-1x.png" alt="pink ice cream">
                    </picture>
                </div>
                <picture>
                    <source srcset="/images/gallery-items/gallery-third-image-des-1x.png 1x, /images/gallery-items/gallery-third-image-des-2x.png 2x " media="(min-width:1200px)">


                    <source srcset="/images/gallery-items/gallery-third-image-tab-1x.png 1x, /images/gallery-items/gallery-third-image-tab-2x.png 2x " media="(min-width:768px)">


                    <source srcset="/images/gallery-items/gallery-third-image-mob-1x.png 1x, /images/gallery-items/gallery-third-image-mob-2x.png 2x " media="(min-width:320px)">

                    <img src="/images/gallery-items/gallery-third-image-mob-1x.png" alt="lots of ice cream on a stick ">
                </picture>
            </div>

            <div class="gallery__item--bigger-foto">
                <div class="upper-image , gallery__third-item--divide-scale">
                    <picture>
                        <source srcset="/images/gallery-items/gallery-four-image-des-1x.png 1x, /images/gallery-items/gallery-four-image-des-2x.png 2x " media="(min-width:1200px)">


                        <source srcset="/images/gallery-items/gallery-four-image-tab-1x.png 1x, /images/gallery-items/gallery-four-image-tab-2x.png 2x " media="(min-width:768px)">


                        <source srcset="/images/gallery-items/gallery-four-image-mob-1x.png 1x, /images/gallery-items/gallery-four-image-mob-2x.png 2x " media="(min-width:320px)">

                        <img src="/images/gallery-items/gallery-four-image-mob-1x.png" alt="colored  ice cream with bilberry">
                    </picture>
                </div>
                <div class="gallery__third-item--divide-scale">
                    <picture>
                        <source srcset="/images/gallery-items/gallery-five-image-des-1x.png 1x, /images/gallery-items/gallery-five-image-des-2x.png 2x " media="(min-width:1200px)">


                        <source srcset="/images/gallery-items/gallery-five-image-tab-1x.png 1x, /images/gallery-items/gallery-five-image-tab-2x.png 2x " media="(min-width:768px)">


                        <source srcset="/images/gallery-items/gallery-five-image-mob-1x.png 1x, /images/gallery-items/gallery-five-image-mob-2x.png 2x " media="(min-width:320px)">

                        <img src="/images/gallery-items/gallery-five-image-mob-1x.png" alt="happy woman with ice cream">
                    </picture>
                </div>
            </div>


            <div class="gallery__item , gallery__item--lower">
                <div class="upper-image">
                    <picture>
                        <source srcset="/images/gallery-items/gallery-six-image-des-1x.png 1x, /images/gallery-items/gallery-six-image-des-2x.png 2x " media="(min-width:1200px)">


                        <source srcset="/images/gallery-items/gallery-six-image-tab-1x.png 1x, /images/gallery-items/gallery-six-image-tab-2x.png 2x " media="(min-width:768px)">


                        <source srcset="/images/gallery-items/gallery-six-image-mob-1x.png 1x, /images/gallery-items/gallery-six-image-mob-2x.png 2x " media="(min-width:320px)">

                        <img src="/images/gallery-items/gallery-six-image-mob-1x.png" alt="process of ice cream decorating">
                    </picture>
                </div>

                <picture>
                    <source srcset="/images/gallery-items/gallery-seven-image-des-1x.png 1x, /images/gallery-items/gallery-seven-image-des-2x.png 2x " media="(min-width:1200px)">


                    <source srcset="/images/gallery-items/gallery-seven-image-tab-1x.png 1x, /images/gallery-items/gallery-seven-image-tab-2x.png 2x " media="(min-width:768px)">


                    <source srcset="/images/gallery-items/gallery-seven-image-mob-1x.png 1x, /images/gallery-items/gallery-seven-image-mob-2x.png 2x " media="(min-width:320px)">

                    <img src="/images/gallery-items/gallery-seven-image-mob-1x.png" alt="beautiful view on street with ice cream">
                </picture>
            </div>

            <div class="gallery__item , gallery__item--upper">
                <div class="upper-image">
                    <picture>
                        <source srcset="/images/gallery-items/gallery-eight-image-des-1x.png 1x, /images/gallery-items/gallery-eight-image-des-2x.png 2x " media="(min-width:1200px)">


                        <source srcset="/images/gallery-items/gallery-eight-image-tab-1x.png 1x, /images/gallery-items/gallery-eight-image-tab-2x.png 2x " media="(min-width:768px)">


                        <source srcset="/images/gallery-items/gallery-eight-image-mob-1x.png 1x, /images/gallery-items/gallery-eight-image-mob-2x.png 2x " media="(min-width:320px)">

                        <img src="/images/gallery-items/gallery-eight-image-mob-1x.png" alt="Dog eats ice cream">
                    </picture>
                </div>
                <picture>
                    <source srcset="/images/gallery-items/gallery-nine-image-des-1x.png 1x, /images/gallery-items/gallery-nine-image-des-2x.png 2x " media="(min-width:1200px)">


                    <source srcset="/images/gallery-items/gallery-nine-image-tab-1x.png 1x, /images/gallery-items/gallery-nine-image-tab-2x.png 2x " media="(min-width:768px)">


                    <source srcset="/images/gallery-items/gallery-nine-image-mob-1x.png 1x, /images/gallery-items/gallery-nine-image-mob-2x.png 2x " media="(min-width:320px)">

                    <img src="/images/gallery-items/gallery-nine-image-mob-1x.png" alt="Milkshake">
                </picture>
            </div>

            <div class="gallery__item">
                <picture>
                    <source srcset="/images/gallery-items/gallery-ten-image-des-1x.png 1x, /images/gallery-items/gallery-ten-image-des-2x.png 2x " media="(min-width:1200px)">


                    <source srcset="/images/gallery-items/gallery-ten-image-tab-1x.png 1x, /images/gallery-items/gallery-ten-image-tab-2x.png 2x " media="(min-width:768px)">


                    <source srcset="/images/gallery-items/gallery-ten-image-mob-1x.png 1x, /images/gallery-items/gallery-ten-image-mob-2x.png 2x " media="(min-width:320px)">

                    <img src="/images/gallery-items/gallery-ten-image-mob-1x.png" alt="icecream cake">
                </picture>
            </div>



        </div>

    </div>
</section>