<section class="section hero">
    <div class="container hero__container">
        <!-- header -->
        <header class="header">
            <div class="header__container">
                <div class="header-mobile">
                    <img src="./images/logo 1.png" alt="">

                    <button type="button" class="header__btn js-open-menu" aria-expanded="false"
                        aria-controls="mobile-menu">
                        <svg width="40" height="40" aria-label="mobile menu switcher">
                            <use class="icon icon--menu" href="./images/symbol-defs.svg#icon-menu"></use>
                        </svg>
                    </button>
                </div>

                <div class="menu js-menu-container" id="mobile-menu">
                    <button type="button" class="menu__btn js-close-menu" aria-expanded="false"
                        aria-controls="mobile-menu">
                        <svg width="40" height="40" aria-label="mobile menu switcher">
                            <use class="icon icon--cross" href="./images/symbol-defs.svg#icon-cross"></use>
                        </svg>
                    </button>
                    <nav class="site-nav">
                        <ul class="site-nav__list">
                            <li class="site-nav__item"><a class="site-nav__link site-nav__link--accent"
                                    href="./index.html">Home</a></li>
                            <li class="site-nav__item"><a class="site-nav__link" href="./portfolio.html">About us</a>
                            </li>
                            <li class="site-nav__item"><a class="site-nav__link" href="">How its made?</a></li>
                            <li class="site-nav__item"><a class="site-nav__link" href="">Our products</a></li>
                            <li class="site-nav__item"><a class="site-nav__link" href="">Contacts</a></li>
                        </ul>
                    </nav>

                    <button class="site-nav__btn btn">Buy now <span class="site-nav__btn-span">></span> </button>
                </div>

            </div>
        </header>


        <!-- Hero -->
        <div class="hero">
            <h1 class="hero__title">ice cream made with <span class="title--accent">passion</span></h1>
            <ul class="hero__btns">
                <li class="hero__btn btn btn--accent">
                    <a class="hero__link" href="">Products</a>
                </li>
                <li class="hero__btn btn">
                    <a class="hero__link" href="">How it's made?</a>
                </li>
            </ul>

            <div class="milk__thumb">
                <img src="./images/milk.png" alt="" width="188">
                <div class="milk__about">
                    <p class="milk__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et</p>
                    <button class="btn-more"></button>
                </div>
            </div>

            <img class="girl__img" src="./images/girl.png" alt="">


            <div class="hero__img-thumb">
                <div class="hero__circle"></div>
                <img class="hero__ice-cream" src="./images/ice-cream.png" alt="">
            </div>

            <ul class="numbers__list">
                <li class="numbers__item">
                    <p class="numbers__number">16</p>
                    <p class="numbers__text">cafes</p>
                </li>
                <li class="numbers__item">
                    <p class="numbers__number">23</p>
                    <p class="numbers__text">food trucks</p>
                </li>
            </ul>
        </div>
    </div>
    </div>
</section>