<div class="backdrop">
  <div class="modal">
    <button class="modal-button button">
      <svg class="modal-button__icon-close" width="18" height="18">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">Leave your details to buy the best ice cream</p>
    <form action="#" class="modal-form">
      <div class="modal-form-field">
        <label class="modal-input" for="#"> 
			  <span class="modal-input__text">Name</span>
			  <span class="modal-input-wrapper">
                        <input
                           type="text"
                           name="user-name"
                           class="modal-input"
                        />
		  </label>
      </div>
      <div class="modal-form-field">
        <label class="modal-input" for="#"> 
			  <span class="modal-input__text">Phone</span>
			  <span class="modal-input-wrapper">
                        <input
                           type="text"
                           name="user-name"
                           class="modal-input"
                        />
		  </label>
      </div>
      <div class="modal-form-field">
        <label class="modal-input" for="#"> 
			  <span class="modal-input__text">E-mail</span>
			  <span class="modal-input-wrapper">
                        <input
                           type="text"
                           name="user-name"
                           class="modal-input"
                        />
		  </label>
      </div>
      <div class="modal-form-field">
        <label class="modal-input" for="#"> 
			  <span class="modal-input__text">Comment</span>
			  <span class="modal-input-wrapper">
                        <input
                           type="text"
                           name="user-name"
                           class="modal-input"
                        />
		  </label>
      </div>
		 <div class="check-wrapper">
                  <input
                     type="checkbox"
                     name="agreement"
                     id="modal-check"
                     class="modal-check visually-hidden"
                  />
                  <label for="modal-check" class="modal-check-text">
                     <span>
                        <svg width="16" height="15" class="icon-check">
                           <use href="./images/sprite.svg#icon-check"></use>
                        </svg>
                     </span>
                     <b class="check-text">
                        Do not call me back after ordering
                     </b>
                  </label>
                  <button type="submit" class="button">
                     Buy
                  </button>
               </div>
    </form>
  </div>
</div>
