<section class="product">
    <div class="container">
        <p class="product__pre-title">100% natural</p>
    <h2 id=“products” class="product__title">products</h2>
    <ul class="product__item">
        <li class="product__list">
            <div class="product-card product-card--pink">
                <h3 class="product-card__shot-title">ice cream</h3>
                <div class="product-card__division">
                </div>
            <p class="product-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button type="button" class="product__open-btn">
              <svg class="product__open-icon">
                  <use href="/images/sprite.svg#icon-arrow-right" ></use>
              </svg>
            </button>
           
        </div>
         <div class="product-info product-info--pink is-hidden">
                <p class="product-info__text">Lorem ipsum dolor sit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.amet consectetur adipisicing elit. Itaque.</p>
                  <button class="product__close-btn">
                       <svg class="product__close-icon">
                  <use href="/images/sprite.svg#icon-arrow-right" ></use>
              </svg>
            </button>
                  </button>
            </div>
            
        </li>
    <li class="product__list">
            <div class="product-card product-card--brown">
                <h3 class="product-card__shot-title">ice cream</h3>
                <div class="product-card__division">
                </div>
            <p class="product-card__text product-card__text--grad">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
             <button type="button" class="product__open-btn">
              <svg class="product__open-icon">
                  <use href="/images/sprite.svg#icon-arrow-right" ></use>
              </svg>
             
            </button>
        </div>
            
        </li>
        
    <li class="product__list">
            <div class="product-card product-card--grin">
                <h3 class="product-card__shot-title">ice cream</h3>
                <div class="product-card__division">
                </div>
            <p class="product-card__text product-card__text--grad">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
             <button type="button" class="product__open-btn">
              <svg class="product__open-icon">
                  <use href="/images/sprite.svg#icon-arrow-right" ></use>
              </svg>
             
            </button>
        </div>
            
        </li>
        </ul>

    </div>
    
</section>