.button {
  font-size: 14px;
  line-height: 1.31;
  height: 44px;
  border-radius: 22px;
  border: none;

  cursor: pointer;

  color: $accent-color;
  background-color: $white-text;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $hover-btn-bg;
  }
}

.button--bg-red {
  background-color: $accent-color;
  color: $white-text;

  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #c7133e;

    transition: background-color 250ms linear;
  }
}

.button__icon {
  margin-left: 13px;
}

.btn-about--padiing {
  padding-left: 37px;
  padding-right: 38px;
}

.button--padding {
  padding-left: 32px;
  padding-right: 31px;
  @media screen and (min-width: 768px) {
    padding-left: 38px;
    padding-right: 38px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 39px;
    padding-right: 40px;
  }
}

.button-red--padding {
  padding-left: 17px;
  padding-right: 17px;
  @media screen and (min-width: 768px) {
    padding-left: 30px;
    padding-right: 35px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 35px;
  }
}
