.button {
  font-size: 16px;
  line-height: 1.31;
  min-width: 160px;
  padding: 15px 37px;
  border-radius: 22px;
  border: none;

  cursor: pointer;

  color: $accent-color;
  background-color: $white-text;
  &:hover,
  &:focus {
    background-color: $hover-btn-bg;
    box-shadow: $drop-shadow;
  }
}

.button--bg-red {
  background-color: $accent-color;
  color: $white-text;
  &:hover,
  &:focus {
    background-color: #c7133e;
    box-shadow: $drop-shadow;
  }
}
