.button {
  font-size: 14px;
  line-height: 1.28;
  min-width: 105px;
  padding: 20px 25px;
  border-radius: 20px;
  border: none;

  cursor: pointer;

  color: #d41443;
  background-color: white;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
