.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  width: 100vw;
  padding: 40px;
  position: absolute;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.modal__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal__field {
  margin-bottom: 10px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus-within {
    color: var(--accent-color);
  }
}

.modal__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__comment {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

textarea {
  resize: none;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__label-policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  @media screen and (max-width: 447px) {
    font-size: 11px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__icon-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__checkbox:checked + .modal__label-policy & {
    background-color: var(--accent-color);
    border: none;
  }
  .modal__checkbox:focus + .modal__label-policy & {
    border: 2px solid var(--accent-color);
  }
}

.icon-check {
  fill: transparent;
  .modal__checkbox:checked + .modal__label-policy & {
    fill: var(--white-text-color);
  }
}

.modal__link {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
  text-decoration: underline;
}
