.backdrop {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}
.modal {
  padding: 40px;
  position: relative;
  background: $modal-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0%) scale(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 1199.99px) {
    max-width: 450px;
    height: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 500px;
    height: 581px;
  }
}
.modal-form__field {
  position: relative;
  margin-bottom: 20px;
}
.modal-form__label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $accent-color;
}
.modal-form__input {
  outline: none;
  &:focus + .modal-form__label,
  &:not(:placeholder-shown) + .modal-form__label {
    transform: translateY(-35px);
  }
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  &:focus {
    border-color: $accent-color;
  }
}
.close-button {
  font-family: titan one;
  color: $accent-color;
  font-size: 26px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:focus,
  &:hover {
    color: #c7133e;
  }
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-family: titan one;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  text-align: center;
  margin-bottom: 15px;
}
.product-checkbox {
  margin-bottom: 20px;
}
.product-checkbox__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chose-text {
  font-family: titan one;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $accent-color;
  margin-bottom: 10px;
  text-align: center;
}
.comment-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  &:focus {
    border-color: $accent-color;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.product-check__label {
  margin-bottom: 8px;
  display: flex;
  align-items: center;

  span {
    width: 14px;
    height: 12px;
    border: 2px solid rgba(33, 33, 33, 0.5);
    background-color: white;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.product-check__input {
  &:checked + .product-check__label span {
    background-color: $accent-color;
    border: none;
  }
  &:checked + .product-check__label .modal-franchise__icon {
    fill: #ffffff;
  }
}
.modal-franchise__icon {
  fill: transparent;
}
.product-value {
  margin-left: 10px;
  height: 20px;
  text-align: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  &:focus {
    border-color: $accent-color;
  }
  outline: none;
}
.product-checkbox__text {
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
}
