.modal-map {
  width: 450px;
  padding: 40px;
  position: relative;
  background: $modal-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0%) scale(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-map__title {
  font-family: titan one;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  text-align: center;
  margin-bottom: 12px;
}
.modal-map__wrap {
  display: flex;
  justify-content: center;
  border: 2px solid $accent-color;
  border-radius: 4px;
  max-width: 370px;
  height: 410px;
  margin-bottom: 20px;
}
.modal-map__iframe {
  width: 100%;
  height: 100%;
}
.map-address {
  text-align: center;
}
.map-address__link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $accent-color;
  margin-bottom: 10px;
  text-align: center;
  &:hover,
  &:focus {
    color: $white-text;
  }
}
.modal-map__text {
  font-family: titan one;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $accent-color;
  margin-bottom: 10px;
  text-align: center;
}
