.section-contacts {
  padding-top: 86px;
  padding-bottom: 113px;
  background: linear-gradient(180deg, $white-text 170px, $background 0);
}

.contacts {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item {
  width: 220px;
  padding: 43px 20px;
  background: $white-text;
  box-shadow: 0px 8px 30px $shadow-color;
  border-radius: 24px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 8px 30px $shadow-color-hover;
  }
}

.contacts__category {
  display: inline-flex;
  padding: 0 25px;
  color: $white-text;
  background-color: $coffee-section;
  border-radius: 4px;
  @include font(500, 12px, 1.86, 0.04em);
  text-transform: uppercase;
  margin-bottom: 25px;
  &--color {
    background-color: $milkshake-section;
  }
}

.contacts__city {
  @include font(500, 12px, 1.86, 0.04em);
  color: $black-text;
  margin-bottom: 10px;
}

.contacts__desc {
  @include font(500, 12px, 1.5, 0.01em);
  color: $primary-text-color;
  margin-bottom: 25px;
}

.contacts__timetable {
  &-item:not(:last-child) {
    margin-bottom: 10px;
  }
  &::before,
  &::after {
    content: '';
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #e1e1e1;
  }
}

.contacts__days {
  @include font(500, 12px, 1.86, 0.04em);
  color: $black-text;
}

.contacts__time {
  @include font(500, 12px, 1.86, 0.04em);
  color: $lable-color;
}

.contacts__link {
  @include font(500, 12px, 1.5, 0.01em);
  color: $primary-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__btn {
  &-list {
    text-align: center;
  }
  &-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
