.gallery-container{
    background-image: linear-gradient(
        to top,
        
        #fff 60%,
        $background 60%
      );
}

.gallery__wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.gallery__item{
    @media screen and (max-width: 767px) { &:not(:last-child){margin-right: 2px;}        
}
   
    @media screen and (min-width: 768px) { &:not(:last-child) {margin-right: 5px;}        
}

@media screen and (min-width: 1200px) { &:not(:last-child) {margin-right: 8px;}        
}

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus{ transform: scale(1.25);}
}



.upper-image{
    @media screen and (max-width: 767px) {margin-bottom: 2px;}        

   
    @media screen and (min-width: 768px) { margin-bottom: 5px;}        


@media screen and (min-width: 1200px) { margin-bottom: 8px;}        

}

.gallery__item--lower{
    
    @media screen and (max-width: 767px) {margin-top: 15px;}        

   
    @media screen and (min-width: 768px) { margin-top: 40px;}        


@media screen and (min-width: 1200px) { margin-top: 60px;}     
}

.gallery__item--upper{
    @media screen and (max-width: 767px) {margin-bottom: 15px;}        

   
    @media screen and (min-width: 768px) { margin-bottom: 40px;}        


@media screen and (min-width: 1200px) { margin-bottom: 60px;}   
}